.page__body {
  font-family: $Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  min-width: $mobile-width;
  color: $black;
  margin: 0;
}

.container {
  margin: auto;
  padding: 32px 25px;
  max-width: 1250px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}
